<h2>LISTA DE TENISTAS</h2>
<ul>
    <li *ngFor = 'let tenista of tenistas'>
        {{tenista.nombre}} - {{tenista.nacionalidad}} - {{tenista.numeroGrandSlams}} - {{tenista.altura}} - {{tenista.peso}} - {{tenista.golpeDominante}}
    </li>
</ul>

<h2>CRUD TENISTA</h2>
<br>
<Label for="Nombre">Nombre:</Label>
<input type="text" [(ngModel)]="nombre" placeholder="Nombre">
<br>
<label for="nacionalidad">Nacionalidad</label>
<input type="text" [(ngModel)]="nacionalidad" placeholder="Nacionalidad">
<br>
<label for="numeroGrandSlams">Numero de Grand Slams</label>
<input type="number" [(ngModel)]="numeroGrandSlams">
<br>
<label for="altura">Altura</label>
<input type="number" [(ngModel)]="altura">
<br>
<label for="peso">Peso</label>
<input type="number" [(ngModel)]="peso">
<br>
<label for="golpeDominante">Golpe Dominante</label>
<input type="text" [(ngModel)]="golpeDominante" placeholder="Golpe dominante">
<br>
<button (click)=""></button>